.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bg-container {
  background-image: url("../public/background.jpg"); /* Adjust path as needed */
  background-size: cover; /* Cover the whole screen */
  background-position: center; /* Center the image */
  background-attachment: fixed; /* Make the background fixed */
  background-repeat: no-repeat; /* Do not repeat the image */
  height: 100vh; /* Full viewport height */
  width: 100vw; /* Full viewport width */
  position: absolute; /* Positioning context for the background */
  top: 0;
  left: 0;
  z-index: -1; /* Send the background behind content */
}

.content {
  position: relative; /* Content will be placed above the background */
  z-index: 1;
}
